@import 'base.scss';
@import 'reset.scss';
@import "mixins.scss";
@import "vars.scss";

#app {
  max-width: 100%;

  font-weight: normal;
}

.titulo {
  color: rgba(0, 189, 126, 1);
  text-align: center;
  text-transform: capitalize;
  margin-block: 10px;
}

h1.titulo {
  font-size: 2em;
}
h2.titulo {
    font-size: 1.75em;
}
h3.titulo {
  font-size: 1.5em;
  
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--color-text);
}
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

.textos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 5%;
}


*::selection {
  background-color: $cor-destaque;
  color: #000000;
}


::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
  transition: all 500ms ease-in-out;

}

::-webkit-scrollbar-track {
  background-color: var(--color-background-soft);
  width: 10px;
  transition: all 500ms ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 189, 126, 1);
  border-radius: 15px;
}